{% set x=[1,2,3] %}
{% set y=[1,2,3] %}
{% for a in x %}
	{% for b in y %}
		{{loop.index}}{{a}}={{b}}
	{% endfor %}
{% endfor %}
{% for a in x %}
Second loop - {{ loop.cycle('odd', 'even') }}
{% endfor %}
{% for x in range(1,10,2) %}
{% else %}
No loop
{% endfor %}